<div class="container">
  <%= simple_form_for @objective do |f| %>
  <div class="md-form">
    <%= f.text_field :name, autofocus: true %>
    <%= f.label :name %>
  </div>
  <div class="md-form">
    <%= f.input_field :description, as: :text, class: 'md-textarea' %>
    <%= f.label :description %>
  </div>
  <%= f.submit class: 'btn btn-primary' %>
  <% end %>
</div>
