<div class="card">
  <div class="card-body p-5">
    <h4 class="card-title">
      Sign Up for an Account
    </h4>
    <div class="card-text">
      <%= bootstrap_devise_error_messages! %>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { role: 'form' }) do |f| %>
      <%= f.input :email, autofocus: true, class: 'form-control' %>
      <div class="row">
        <div class="col-md-6">
          <%= f.input :password, class: 'form-control' %>
        </div>
        <div class="col-md-6">
          <%= f.input :password_confirmation, class: 'form-control' %>
        </div>
      </div>
      <%= f.submit t('.sign_up', default: 'Sign up'), class: 'btn btn-primary btn-block' %>
      <% end %>
      <div class="text-center text-muted mt-2">
        <small>
          By Signing up you agree to the Terms and Conditions
        </small>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <%= render 'devise/shared/links' %>
  </div>
</div>
