<section class="row is-card">
  <div class="row__inner">
    <div class="card">
      <div class="row__inner">
        <div class="card-block">
          <h4 class="card-title">
            My Profile
          </h4>
          <div class="card-text">
            <%= simple_form_for @user, url: profile_path do |f| %>
              <div class="row">
                <div class="col-md-6">
                  <div class="md-form">
                    <%= f.text_field :first_name, autofocus: true %>
                    <%= f.label :first_name %>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="md-form">
                    <%= f.text_field :last_name %>
                    <%= f.label :last_name %>
                  </div>
                </div>
              </div>
              <%= f.input :time_zone, priority: /US/, input_html: { class: 'chosen-select' } %>
              <%= f.submit 'Save', class: 'btn btn-primary btn-block' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
