<tr id="<%= department.id %>" class="<%= "descendant parent-#{department.id} #{parent_string}" if depth > 0 %>">
  <td class="text-muted">
    <%#= icon 'bars' %>
  </td>
  <td>
    <div class="row">
      <div class="col-<%= depth %>">
      </div>
      <div class="col">
        <%= icon 'plus-square-o', class: 'descendant-toggle' %>
        &nbsp;
        <%= person.name %>
      </div>
    </div>
  </td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
</tr>
