<tr id="<%= department.id %>" class="<%= "descendant parent-#{department.id} #{parent_string}" if depth > 0 %>">
  <td class="text-muted">
    <%#= icon 'bars' %>
  </td>
  <td>
    <div class="row">
      <div class="col-<%= depth %>">
      </div>
      <div class="col">
        <%= icon 'plus-square-o', class: 'descendant-toggle' %>
        &nbsp;
        <%= position.name %>
      </div>
    </div>
  </td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
</tr>
<% position.people.each do |person| %>
  <%= render partial: 'person_row', locals: { department: department, position: position, person: person, depth: depth + 1, parent_string: "#{parent_string} ancestor-#{department.id}".strip } %>
<% end %>
