<tr id="<%= department.id %>" class="<%= "descendant parent-#{department.parent_id} #{parent_string}" if depth > 0 %>">
  <td class="text-muted">
    <%#= icon 'bars' %>
  </td>
  <td>
    <div class="row">
      <div class="col-<%= depth %>">
      </div>
      <div class="col">
        <%= icon 'plus-square-o', class: 'descendant-toggle' %>
        &nbsp;
        <%= department.name %>
      </div>
    </div>
  </td>
  <td><%= department.descendants.count %></td>
  <td><%= department.subtree.joins(:positions).count %></td>
  <td><%= department.subtree.joins(:people).count %></td>
  <td>
    <a href="<%= department_path(department) %>" class="blue-text">
      <%= icon 'search' %>
    </a>
    <a class="teal-text">
      <%= icon 'pencil' %>
    </a>
    <a class="delete-department red-text">
      <%= icon 'trash' %>
    </a>
  </td>
</tr>
<% department.children.each do |child| %>
  <%= render partial: 'row', locals: { department: child, depth: depth + 1, parent_string: "#{parent_string} ancestor-#{department.id}".strip } %>
<% end %>
<% department.positions.each do |position| %>
  <%= render partial: 'position_row', locals: { department: department, position: position, depth: depth + 1, parent_string: "#{parent_string} ancestor-#{department.id}".strip } %>
<% end %>
<%= render partial: 'new_row', locals: { department: department, depth: depth + 1, parent_string: "#{parent_string} ancestor-#{department.id}".strip } %>
