<nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
  <ul class="nav nav-pills flex-column">
    <li class="nav-item <%= 'active' if params[:controller] == 'admin' || params[:controller] == 'admin/posts' %>">
      <a class="nav-link" href="<%= admin_root_path %>">
        <%= icon 'dashboard' %>
        Admin
      </a>
    </li>
    <li class="nav-item <%= 'active' if params[:controller].start_with?('admin/users') %>">
      <a class="nav-link" href="<%= users_path %>">
        <%= icon 'users' %>
        Users
      </a>
    </li>
    <li class="seperator">
      <a class="nav-link" href="<%= organization.staff_url %>" target="_blank">
        <%= icon 'cog' %>
        Staff Site
      </a>
    </li>
  </ul>
</nav>