<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
  <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="logo">
    <% if @organizations.count > 1 %>
    <div class="dropdown">
      <a class="simple-text" id="select-organization" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <%= organization.name %>
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" aria-labelledby="select-organization">
      <% @organizations.each do |select_organization| %>
        <li><%= link_to select_organization.name, select_organization_path(select_organization.id), method: :post %></li>
      <% end %>
      </ul>
    </div>
    <% else %>
    <a href="<%= admin_root_path %>" class="simple-text">
      <%= organization.name %>
    </a>
    <% end %>
  </div>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <ul class="navbar-nav mt-2 mt-md-0">
      <li class="nav-item">
        <a class="nav-link" href="<%= edit_profile_path %>">
          <%= icon 'user' %>
          My Profile
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= edit_organization_path %>">
          <%= icon 'cog' %>
          Settings
        </a>
      </li>
      <li class="nav-item">
        <%= link_to("#{icon 'sign-out'} Sign Out".html_safe, destroy_user_session_path, method: :delete, class: 'nav-link') %>
      </li>
    </ul>
  </div>
</nav>