<%= simple_form_for [:after_signup, @user] do |f| %>
<div class="card">
  <div class="card-body p-5">
    <h4 class="card-title">
      Set up your Profile
    </h4>
    <p>
      Start off by telling us about yourself
    </p>
    <div class="row">
      <div class="col-md-6">
        <div class="md-form">
          <%= f.input :first_name, autofocus: true %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="md-form">
          <%= f.input :last_name %>
        </div>
      </div>
    </div>
    <%= f.input :time_zone, input_html: { class: 'chosen-select' } %>
  </div>
</div>
<div class="text-right mt-3">
  <%= f.submit 'Next', class: 'btn btn-primary' %>
</div>
<% end %>
