<%= simple_form_for [@position_entity, @objective] do |f| %>
  <div class="md-form">
    <%= f.text_field :name, autofocus: true %>
    <%= f.label :name %>
  </div>
  <div class="md-form">
    <%= f.input_field :description, as: :text, class: 'md-textarea' %>
    <%= f.label :description %>
  </div>
  <%= f.simple_fields_for :key_results do |key_result| %>
    <%= render 'key_result_fields', f: key_result %>
  <% end %>
  <div class="links">
    <%= link_to_add_association 'Add Key Result', f, :key_results, class: 'btn btn-primary' %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
