<section class="row is-page-header-row">
  <div class="row__inner">
    <div class="page-header">
      <div class="page-header__title">
        Church Profile
      </div>
      <div class="page-header__tagline">
        Configure your church settings
      </div>
    </div>
  </div>
</section>
<section class="row is-card">
  <div class="row__inner">
    <div class="card">
      <div class="row__inner">
        <div class="card-block">
          <div class="card-text">
            <%= simple_form_for [:after_signup, @organization] do |f| %>
            <div class="md-form">
              <%= f.text_field :name, autofocus: true %>
              <%= f.label :name %>
            </div>
            <div class="row">
              <div class="col-md-8">
                <div class="md-form">
                  <%= f.text_field :subdomain %>
                  <%= f.label :subdomain %>
                </div>
              </div>
              <div class="col-md-4" style="margin-top: 15px;">
                .<%= ENV['DOMAIN_NAME'] %>
              </div>
            </div>
            <p class="help-block">
              The following information will help us automatically build your email footers
              to comply with the
              <a target="_blank" href="https://www.ftc.gov/tips-advice/business-center/guidance/can-spam-act-compliance-guide-business">
                CAN-SPAM Act
              </a>
              and International spam law.
            </p>
            <div class="md-form">
              <%= f.text_field :website_url %>
              <%= f.label :website_url %>
            </div>
            <div class="md-form">
              <%= f.text_field :address_1 %>
              <%= f.label :address_1 %>
            </div>
            <div class="md-form">
              <%= f.text_field :address_2 %>
              <%= f.label :address_2 %>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="md-form">
                  <%= f.text_field :city %>
                  <%= f.label :city %>
                </div>
              </div>
              <div class="col-md-4">
                <div class="md-form">
                  <%= f.text_field :state %>
                  <%= f.label :state, 'State / Province / Region' %>
                </div>
              </div>
              <div class="col-md-4">
                <div class="md-form">
                  <%= f.text_field :zip %>
                  <%= f.label :zip, 'Zip / Postal Code' %>
                </div>
              </div>
            </div>
            <%= f.input :country, input_html: { class: 'chosen-select' } %>
            <%= f.input :time_zone, priority: /US/, input_html: { class: 'chosen-select' } %>
            <%= f.submit 'Next', class: 'btn btn-primary btn-block' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>