<div class="card">
  <div class="card-body p-5">
    <h4 class="card-title">
      Church Profile
    </h4>
    <p>
      Configure your church settings
    </p>
    <%= simple_form_for [:after_signup, @organization] do |f| %>
      <%= f.input :name, autofocus: true %>
      <div class="row">
        <div class="col-md-8">
          <%= f.input :subdomain %>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="form-control-label">
              Domain
            </label>
            <input class="form-control string" readonly="readonly" type="text" value="<%= ENV['DOMAIN_NAME'] %>">
          </div>
        </div>
      </div>
      <p class="text-muted">
        The following information will help us automatically build your email footers
        to comply with the
        <a target="_blank" href="https://www.ftc.gov/tips-advice/business-center/guidance/can-spam-act-compliance-guide-business">
          CAN-SPAM Act
        </a>
        and International spam law.
      </p>
      <%= f.input :website_url %>
      <%= f.input :address_1 %>
      <%= f.input :address_2 %>
      <div class="row">
        <div class="col-md-4">
            <%= f.input :city %>
        </div>
        <div class="col-md-4">
            <%= f.input :state, label: 'State / Province / Region' %>
        </div>
        <div class="col-md-4">
            <%= f.input :zip, label: 'Zip / Postal Code' %>
        </div>
      </div>
      <%= f.input :country,  priority: ['New Zealand'], input_html: { class: 'chosen-select' } %>
      <%= f.input :time_zone, input_html: { class: 'chosen-select' } %>
      <%= f.submit 'Next', class: 'btn btn-primary btn-block' %>
    <% end %>
  </div>
</div>
