<section class="row is-graphic-row"></section>
<section class="row is-card">
  <div class="row__inner">
    <div class="card">
      <div class="row__inner">
        <div class="card-block">
          <h4 class="card-title"><%= t('.sign_up', default: 'Sign In') %></h4>
          <div class="card-text">
            <%= bootstrap_devise_error_messages! %>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: 'form' }) do |f| %>
            <div class="md-form">
              <%= f.email_field :email, autofocus: true, class: 'form-control' %>
              <%= f.label :email %>
            </div>
            <div class="md-form">
              <%= f.password_field :password, class: 'form-control' %>
              <%= f.label :password %>
            </div>
            <% if devise_mapping.recoverable? %>
            <div class="pull-right">
              <%= link_to t('.forgot_your_password', default: 'Forgot your password?'), new_password_path(resource_name) %>
            </div>
            <% end %>
            <% if devise_mapping.rememberable? %>
              <div class="form-group">
                <%= f.check_box :remember_me, class: 'filled-in' %>
                <%= f.label :remember_me %>
              </div>
            <% end %>
            <%= f.submit  t('.sign_in', default: 'Sign in'), class: 'btn btn-block btn-primary' %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <%= render 'devise/shared/links' %>
      </div>
    </div>
  </div>
</section>