<section class="row is-card">
  <div class="row__inner">
    <%= simple_form_for @organization, url: organization_path do |f| %>
    <div class="card">
      <div class="row__inner">
        <div class="card-block">
          <h4 class="card-title">
            Church Settings
          </h4>
          <div class="card-text">
            <div class="md-form">
              <%= f.text_field :name, autofocus: true %>
              <%= f.label :name %>
            </div>
            <div class="row">
              <div class="col-md-8">
                <div class="md-form">
                  <%= f.text_field :subdomain, disabled: true %>
                  <%= f.label :subdomain %>
                </div>
              </div>
              <div class="col-md-4" style="margin-top: 15px;">
                .<%= ENV['DOMAIN_NAME'] %>
              </div>
            </div>
            <p class="help-block">
              The following information will help us automatically build your email footers
              to comply with the
              <a target="_blank" href="https://www.ftc.gov/tips-advice/business-center/guidance/can-spam-act-compliance-guide-business">
                CAN-SPAM Act
              </a>
              and International spam law.
            </p>
            <div class="md-form">
              <%= f.text_field :website_url %>
              <%= f.label :website_url %>
            </div>
            <div class="md-form">
              <%= f.text_field :address_1 %>
              <%= f.label :address_1 %>
            </div>
            <div class="md-form">
              <%= f.text_field :address_2 %>
              <%= f.label :address_2 %>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="md-form">
                  <%= f.text_field :city %>
                  <%= f.label :city %>
                </div>
              </div>
              <div class="col-md-4">
                <div class="md-form">
                  <%= f.text_field :state %>
                  <%= f.label :state, 'State / Province / Region' %>
                </div>
              </div>
              <div class="col-md-4">
                <div class="md-form">
                  <%= f.text_field :zip %>
                  <%= f.label :zip, 'Zip / Postal Code' %>
                </div>
              </div>
            </div>
            <%= f.input :country, input_html: { class: 'chosen-select' } %>
            <%= f.input :time_zone, priority: /US/, input_html: { class: 'chosen-select' } %>
            <%= f.submit 'Save Settings', class: 'btn btn-primary btn-block' %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
    <%= simple_form_for @organization, url: organization_path do |f| %>
      <%= f.simple_fields_for :integrations do |i| %>
      <div class="card integrations">
        <div class="row__inner">
          <div class="card-block">
            <div class="card-text">
              <div class="columns integrations__logos">
                  <div class="integrations__logo">
                    <img src="<%= image_path("logos/#{i.object.type.constantize.name.demodulize.underscore}.png") %>">
                  </div>
              </div>
              <%= i.hidden_field :type, value: i.object.type %>
              <%= render partial: "admin/organizations/#{i.object.type.underscore}", locals: { f: i } %>
              <%= f.submit "Save #{i.object.type.constantize.name.demodulize.titleize} Settings", class: 'btn btn-primary btn-block' %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</section>
