<% if user.configured? %>
<% title 'My Profile' %>
<div class="card">
  <div class="header header-no-content">
    <h4 class="title">My Profile</h4>
    <span class="category">Update Your Profile Information</span>
  </div>
</div>
<% else %>
<div class="card promo promo-small">
  <div class="promo-content">
    <h1 class="promo-title">Spend less time administrating.</h1>
    <h2 class="promo-subtitle">Staff Portal is designed to take care of your ministry admin needs, giving you more time to<br /><strong>focus on reaching your world</strong>.</h2>
    <div class="promo-text">Start off by telling us about yourself.</div>
  </div>
</div>
<% end %>
<%= simple_form_for @user, url: auth_user_path, html: { multipart: true } do |f| %>
<div class="card card-user">
  <div class="content">
    <div class="row">
      <div class="col-md-6">
        <%= f.input :first_name %>
      </div>
      <div class="col-md-6">
        <%= f.input :last_name %>
      </div>
    </div>
    <%= f.input :email, hint: 'Your email address will remain private.' %>
    <%= f.input :time_zone, priority: /US/ %>
  </div>
  <div class="actions">
    <% if user.configured? %>
    <button type="submit" class="btn btn-primary btn-fill">Save</button>
    <% else %>
    <button type="submit" class="btn btn-primary btn-fill">Next <%= icon 'chevron-right' %></button>
    <% end %>
  </div>
</div>
<% end %>
