<!DOCTYPE html>
<html ng-app="admin">
  <head>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= hidden_field_tag :access_token, current_user.token %>
    <app></app>
    <%= javascript_pack_tag 'admin' %>
    <%= stylesheet_pack_tag 'admin-styles' %>
  </body>
</html>
