<!DOCTYPE html>
<html>
  <head>
    <title>My Team @ Church | Home</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= csrf_meta_tags %>
  </head>
  <body class="<%= request.subdomain %> <%= params[:controller].split('/').join(' ') %> <%= params[:controller].split('/').last %>-<%= params[:action] %>">
    <header>
      <%= render 'navigation' %>
      <%= yield :heading %>
    </header>
    <%= yield %>
    <footer class="page-footer mt-3 py-3 bg-dark">
      <div class="container">
        My Team @ Church - Copyright &copy; 2018
      </div>
    </footer>
    <script>!function(e,o,n){window.HSCW=o,window.HS=n,n.beacon=n.beacon||{};var t=n.beacon;t.userConfig={},t.readyQueue=[],t.config=function(e){this.userConfig=e},t.ready=function(e){this.readyQueue.push(e)},o.config={docs:{enabled:!0,baseUrl:"https://help.myteam.church/"},contact:{enabled:!0,formId:"c4da296a-9d05-11e8-a978-0a23a233d4be"}};var r=e.getElementsByTagName("script")[0],c=e.createElement("script");c.type="text/javascript",c.async=!0,c.src="https://djtflbt20bdde.cloudfront.net/",r.parentNode.insertBefore(c,r)}(document,window.HSCW||{},window.HS||{});</script>
  </body>
</html>
